
<div>
	<div class="form-row">
		<div class="col-md-12">
			<h3>{{caption}}</h3>
		</div>
	</div>


	<form [formGroup]="form" (ngSubmit)="submit()">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="name">优惠券名称</label>
				<input type="text" name="name" id="name" class="form-control" formControlName="name" required>
				<div *ngIf="form.controls.name.touched && form.controls.name.errors" class="alert alert-danger">
					<div *ngIf="form.controls.name.errors.required">
						必须输入优惠券名称
					</div>
				</div>
			</div>
			<div class="form-group col-md-8">
				<label for="desp">优惠券描述</label>
				<input type="text" name="description" id="desp" class="form-control" formControlName="description" required>
				<div *ngIf="form.controls.description.touched && form.controls.description.errors" class="alert alert-danger">
					<div *ngIf="form.controls.description.errors.required">
						必须输入优惠券描述
					</div>
				</div>
			</div>

		</div>

		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="coupon-type">优惠券类型</label>
				<select class="form-control" id="coupon-type" formControlName="coupon_type_id" required>
					<option *ngFor="let ct of couponTypes" value={{ct?.id}}>{{ct?.type}}</option>
				</select>
			</div>			
			<div class="form-group col-md-2">
				<label for="expire-date">过期日期</label>
				<angular2-date-picker [settings]="settings" [(ngModel)]="date" formControlName="expire_date"></angular2-date-picker>
			</div>
			<div class="form-group col-md-2">
				<label for="discount-method">优惠方式</label>
				<select id="discount-method" class="form-control" formControlName="discount_method" required>
					<option value="1">折扣券</option>
					<option value="2">面值券</option>
					<option value="3">免运费</option>
				</select>
			</div>

			<div class="form-group col-md-2">
				<label for="percentage">折扣券折扣率</label>
				<input type="text" name="percentage" class="form-control" formControlName="discount_percentage" required>
				<div *ngIf="form.controls.discount_percentage.touched && form.controls.discount_percentage.errors" class="alert alert danger">
					<div *ngIf="form.controls.discount_percentage.errors.required">
						必须输入折扣券折扣率
					</div>

					<div *ngIf="form.controls.discount_percentage.errors.pattern">
						折扣券折扣率必须是数字
					</div>
					<div *ngIf="form.controls.discount_percentage.errors.max">
						折扣券折扣率必须小于等于100， 100为不折扣，80为八折，0为免单
					</div>
				</div>
			</div>

			<div class="form-group col-md-2">
				<label for="value">折扣券面值(元)</label>
				<input type="text" name="value" class="form-control" formControlName="discount_value" required>
				<div *ngIf="form.controls.discount_value.touched && form.controls.discount_value.errors" class="aler alert-danger">
					<div *ngIf="form.controls.discount_value.errors.required">
						必须输入折扣券面值
					</div>
					<div *ngIf="form.controls.discount_value.errors.pattern">
						折扣券面值必须是整数
					</div>
				</div>
			</div>	
		</div>	

		<div class="form-row">
			<div class="form-group col-md-8">
				<label for="initial-qty">优惠券总数量(-1：不限量)(张)</label>
				<input type="text" name="initial-qty" class="form-control" formControlName="quantity_initial" required>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-4  new_comer">
				<label for="new_comer">是否是新人礼券？</label>
				<input type="checkbox" id="new_comer" (change)="checkboxSelected($event)" [checked]="for_new_comer">
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-8">
				<label for="image">上传优惠券图形文件</label>
				<input type="file" name="image" id="image" class="form-control" required (change)="previewImage($event)">				
			</div>
			<div class="col-md-4">
				<div #imageLocation><span></span></div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-12" align="center">
				<button type="submit" class="btn btn-success btn-rect" [disabled]="!form.valid || !fileUploaded" data-toggle="modal" data-target="#saved" *ngIf="formFunction == 'add'">保存优惠券数据</button>
				<button type="submit" class="btn btn-success btn-rect" data-toggle="modal" data-target="#saved" *ngIf="formFunction == 'edit'">保存优惠券数据</button>
			</div>
		</div>

	</form>
</div>

	<!--Modal-->
	<div class="modal fade" id="saved">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">提示</h4>					
				</div>

				<div class="modal-body">
					数据已保存，请继续!
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmed()">确定</button>
				</div>
			</div>
		</div>
	</div>

<style>
	.ng-valid[required], .ng-valid.required {
		border-left: 5px solid #42A948;
	}

	.ng-invalid:not(form) {
		border-left: 5px solid #a94442;
	}

	.new_comer {
		margin-top: 3rem;
	}

	button {
		margin-top: 3rem;
	}

	h3 {
		margin-bottom: 3rem;
	}

</style>