<div>
<div class="form-row chat-area" #chat_area [scrollTop]="chat_area.scrollHeight">
	<div class="col-md-12">
		<div *ngFor="let msg of messages">
			<div text-right *ngIf="msg.who == 1">
				<div class="left"><i class="fa fa-user"></i></div>
				<div class="left-bubble chat-message">
					<span class="msg-name">{{msg?.mobile}}</span>
					<span class="msg-date">{{msg?.updated_at}}</span>
					<p class="from-customer" text-wrap (dblclick)="copyToClipboard($event)">{{msg?.message}}
						<span *ngIf="msgCopied == msg.message"><i class="fa fa-copy" id="copy"></i></span>
					</p>
				</div>
			</div>

			<div text-left *ngIf="msg.who == 2">
				<div align="right"><img src="{{assetsBaseUrl}}assets/img/icon.png" width="20"></div>
				<div class="right-bubble chat-message">
					<span class="msg-name">{{msg?.responder}}</span>
					<span class="msg-date">{{msg?.updated_at}}</span>
					<p text-wrap>{{msg?.message}} </p>				
				</div>
				
			</div>	
		</div>		
	</div>
</div>

<div class="form-row" class="input">
	<div class="col-md-11">
		<input type="text" name="message" class="form-control" [(ngModel)]="message">
	</div>
	<div class="col-md-1">
		<button type="button" class="btn btn-success btn-rect" (click)="send()">发送</button>
	</div>
</div>
</div>

<style>
	.chat-area {
		height: 700px;
		border: 1px solid black;
		overflow-y: scroll;
		background-color: #fafafa;
	}

	.input {
		margin-top: 3rem;
	}

table {
	border: none;
}

	.left {
		position: relative;
		top: 50%;
	}

 	i {
 		font-size: 2.5rem;
 		color: orange;
 	}

 	#copy {
 		font-size: 1.3rem;
 		color: red;
 		margin-left: 1em;
 	}

 	.from-customer {
 		cursor: pointer;
 	}

</style>
