
<div id="left">
  <div class="media user-media bg-dark dker">
      <div class="user-media-toggleHover">
          <span class="fa fa-user"></span>
      </div>
      <div class="user-wrapper bg-dark">
          <a class="user-link" href="">
              <img class="media-object img-thumbnail user-img" alt="User Picture" src="{{baseUrl}}{{imageUrl}}" width="64" height="64">
     <!--         <span class="label label-danger user-label">16</span>-->
          </a>

          <div class="media-body">
              <h5 class="media-heading">{{username}}</h5>
              <ul class="list-unstyled user-info">
                  <li><a href="">{{email}}</a></li>
                  <li>上次登录时间 : <br>
                  	<small><i class="fa fa-calendar"></i>&nbsp;{{lastLogin}}</small>
                  </li>
              </ul>
          </div>
      </div>
  </div>

<!-- #menu -->
<ul id="menu" class="bg-blue dker">
  <li class="nav-header">Menu</li>
    <li class="nav-divider"></li>
    <li class="">
        <a href="javascript:;" (click)="toDashboard()">
            <i class="fa fa-dashboard"></i><span class="link-title">&nbsp;欢迎页面</span>
        </a>
    </li>
<!-- Product Management -->
    <li class="">
       	<a href="javascript:;">
            <i class="fa fa-cubes "></i>
            <span class="link-title">&nbsp;产品管理</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="collapse">
            <li>

                <span class="call" (click)="toProductCategory()">
                <i class="fa fa-angle-right"></i>&nbsp; 产品分类</span>
            </li>
            <li>
                <div class="call" (click)="toProductSubCategory()">
                <i class="fa fa-angle-right"></i>&nbsp; 产品分类子类 </div>
            </li>
            <li>
                <div class="call" (click)="toProduct()">
                <i class="fa fa-angle-right"></i>&nbsp; 产品查询 </div>
            </li>
            <li>
                <div class="call" (click)="toProductAdd()">
                <i class="fa fa-angle-right"></i>&nbsp; 新增加产品 </div>
            </li>
        </ul>
    </li>

<!-- Distributor Management  -->
    <li class="">
      <a href="javascript:;">
          <i class="fa fa-users"></i>
          <span class="link-title">&nbsp;经销商管理</span>
          <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
          <li>
            <div class="call" (click)="toDistributor()">
            <i class="fa fa-angle-right"></i>&nbsp; 经销商查询 </div>
          </li>
          <li>
            <div class="call" (click)="toDistributorAdd()">
            <i class="fa fa-angle-right"></i>&nbsp; 新增经销商 </div>
          </li>
          <li>
            <div class="call" (click)="toDistributorInventory()">
            <i class="fa fa-angle-right"></i>&nbsp; 经销商库存 </div>
          </li>
      </ul>
    </li>

<!-- Coupon Management -->                    
    <li class="">
      <a href="javascript:;">
          <i class="fa fa-tags"></i>
          <span class="link-title">&nbsp;优惠券管理</span>
          <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
          <li>
            <div class="call" (click)="toCouponType()">
            <i class="fa fa-angle-right"></i>&nbsp; 优惠券类型 </div>
          </li>
          <li>
            <div class="call" (click)="toCoupon()">
            <i class="fa fa-angle-right"></i>&nbsp; 优惠券查询 </div>
          </li>
          <li>
            <a class="call" (click)="toCouponAdd()">
            <i class="fa fa-angle-right"></i>&nbsp; 新增优惠券 </a>
          </li>
      </ul>
    </li>

<!-- Order Management -->
    <li>
      <a href="javascript:;">
          <i class="fa fa-file"></i>
          <span class="link-title">&nbsp;订单管理</span>
          <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toUserOrder()">
            <i class="fa fa-angle-right"></i>&nbsp; 客户订单查询
          </div>
        </li>
        <li>
          <div class="call" (click)="toOrderPriceModify()">
            <i class="fa fa-angle-right"></i>&nbsp; 客户订单价格修改
          </div>
        </li>
        <li>
          <div class="call" (click)="toDistributorOrder()">
            <i class="fa fa-angle-right"></i>&nbsp; 经销商订单查询
          </div>
        </li>
      </ul>
    </li>

<!-- Invoice Management-->                    
    <li>
      <a href="javascript:;">
      <i class="fa fa-money"></i>
          <span class="link-title">&nbsp;发票管理</span>
          <span class="fa arrow"></span>  
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toInvoiceProcess()">
            <i class="fa fa-angle-right"></i>&nbsp; 未开票订单处理
          </div>
        </li>
        <li>
          <div class="call" (click)="toInvoiceQuery()">
            <i class="fa fa-angle-right"></i>&nbsp; 已开票订单查询
          </div>
        </li>
      </ul>
    </li>

<!-- Canceled order Mangement-->                    
    <li>
      <a href="javascript:;">
        <i class="fa fa-undo"></i>
        <span class="link-title">&nbsp;退单管理</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toOrderCancelProcess()">
            <i class="fa fa-angle-right"></i>&nbsp; 退单申请处理
          </div>
        </li>
        <li>
          <div class="call" (click)="toOrderCancelQuery()">
            <i class="fa fa-angle-right"></i>&nbsp; 已退单查询
          </div>
        </li>
      </ul>
    </li>

<!-- Page Mangement-->  
    <li>
      <a href="javascript:;">
        <i class="fa fa-image"></i>
        <span class="link-title">&nbsp;页面管理</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toHomePage()">
            <i class="fa fa-angle-right"></i>&nbsp; 首页管理
          </div>
        </li>
        <li>
          <div class="call" (click)="toNewComerPage()">
            <i class="fa fa-angle-right"></i>&nbsp; 新人页管理
          </div>
        </li>
        <li>
          <div class="call" (click)="toAboutPage()">
            <i class="fa fa-angle-right"></i>&nbsp; 关于页管理
          </div>
        </li>
        <li>
          <div class="call" (click)="toAgreementPage()">
            <i class="fa fa-angle-right"></i>&nbsp; 协议页管理
          </div>
        </li>
      </ul>
    </li>

<!-- Customer Management-->
    <li>
      <a href="javascript:;">
        <i class="fa fa-user-o"></i>
        <span class="link-title">&nbsp;客户管理</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toQueryCustomer()">
            <i class="fa fa-angle-right"></i>&nbsp; 客户信息查询
          </div>
        </li>
      </ul>
    </li>

<!-- Customer Service-->
    <li>
      <a href="javascript:;">
        <i class="fa fa-headphones"></i>
        <span class="link-title">&nbsp;客户服务</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toProcessConsulting()">
            <i class="fa fa-angle-right"></i>&nbsp; 留言板
          </div>
        </li>
        <li>
          <div class="call" (click)="toQandA()">
            <i class="fa fa-angle-right"></i>&nbsp; 常见问题回答
          </div>
        </li>
      </ul>
    </li>

<!-- Settings -->
    <li>
      <a href="javascript:;">
        <i class="fa fa-cog"></i>
        <span class="link-title">&nbsp;设置</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toSetShippingFee()">
            <i class="fa fa-angle-right"></i>&nbsp; 运费设置
          </div>
        </li>
      </ul>
    </li>


    <li class="nav-divider"></li>

<!-- user management -->
     <li>
      <a href="javascript:;">
        <i class="fa fa-address-book"></i>
        <span class="link-title">&nbsp;用户管理</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="collapse">
        <li>
          <div class="call" (click)="toCreateNewUser()">
            <i class="fa fa-angle-right"></i>&nbsp; 创建新用户
          </div>
        </li>
        <li>
          <div class="call" (click)="toManageUser()">
            <i class="fa fa-angle-right"></i>&nbsp; 编辑用户
          </div>
        </li>
        <li>
          <div class="call" (click)="toAssignRoles()">
            <i class="fa fa-angle-right"></i>&nbsp; 权限管理
          </div>
        </li>
      </ul>
    </li>                   

    <li class="nav-divider"></li>
    <li>
        <a href='auth/login'>
          <i class="fa fa-sign-in"></i>
          <span class="link-title">&nbsp;重新登录</span>
        </a>
    </li>

  </ul>
  <!-- /#menu -->
</div>
<!-- /#left -->

