<div class="detail">
	<div class="form-row">
		<div class="col-md-12">
			<h5>用户信息</h5>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>姓名</th>
						<th>手机号</th>
						<th>电话</th>
						<th>送货城市</th>
						<th>送货街道</th>
						<th>默认地址</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">{{customer?.id}}</th>
						<td>{{shippingAddress?.username}}</td>
						<td>{{shippingAddress?.mobile}}</td>
						<td>{{shippingAddress?.tel}}</td>
						<td>{{shippingAddress?.city}}</td>
						<td>{{shippingAddress?.street}}</td>
						<td *ngIf="shippingAddress != null && shippingAddress.default_address">Y</td>
						<td *ngIf="shippingAddress != null && !(shippingAddress.default_address)">N</td>
					</tr>
				</tbody>
			</table>
			<h5>该订单中购买的产品</h5>
			<table class="table">
				<thead>
					<th>#</th>
					<th>产品图片</th>
					<th>产品分类</th>
					<th>产品名称</th>
					<th>产品型号</th>
					<th>单价</th>
					<th>重量</th>
					<th>重量单位</th>
					<th>购买数量</th>
				</thead>
				<tbody>
					<tr *ngFor="let product of products">
						<th scope="row">{{product?.id}}</th>
						<td><img src='{{baseUrl}}{{product?.thumbnail_url}}' width="50"></td>
						<td>{{product?.product_sub_category_name}}</td>
						<td>{{product?.name}}</td>
						<td>{{product?.model}}</td>
						<td>{{product?.price | currency:'CNY':'symbol-narrow'}}</td>
						<td>{{product?.weight}}</td>
						<td>{{product?.weight_unit}}</td>
						<td>{{product?.pivot.quantity}}</td>
				</tbody>
			</table>
			<div *ngIf="coupons_used">
				<h5>使用的优惠券</h5>
				<table class="table">
					<thead>
						<th>#</th>
						<th>优惠券图片</th>
						<th>名称</th>
						<th>描述</th>
						<th>类型</th>
						<th>折扣(%)</th>
						<th>面值(元)</th>
						<th>有效期</th>
						<th>新人券</th>
						<th>满额可用</th>
					</thead>
					<tbody>
						<tr *ngFor="let coupon of coupons">
							<th scope="row">{{coupon?.id}}</th>
							<td><img src="{{baseUrl}}{{coupon?.image_url}}" width="50"></td>
							<td>{{coupon?.name}}</td>
							<td>{{coupon?.description}}</td>
							<td *ngIf="coupon.discount_method == 1">折扣券</td>
							<td *ngIf="coupon.discount_method == 2">面值券</td>
							<td>{{coupon?.discount_percentage}}</td>
							<td>{{coupon?.discount_value}}</td>
							<td>{{coupon?.expire_date}}</td>
							<td *ngIf="coupon.for_new_comer == 0">N</td>
							<td *ngIf="coupon.for_new_comer == 1">Y</td>
							<td>{{coupon?.min_purchased_amount}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h5>配送/拟配送的经销商信息</h5>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>经销商名称</th>
						<th>地址城市</th>
						<th>地址街道</th>
						<th>联系人</th>
						<th>手机</th>
						<th>联系电话</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">{{distributor?.id}}</th>
						<td>{{distributor?.name}}</td>
						<td>{{distributorAddress?.city}}</td>
						<td>{{distributorAddress?.street}}</td>
						<td>{{distributorContact?.name}}</td>
						<td>{{distributorContact?.mobile}}</td>
						<td>{{distributorContact?.phone_area_code}}-{{distributorContact?.telephone}}</td>
					</tr>
				</tbody>
			</table>

			<div *ngIf="invoice_issued">
				<h5>开票信息</h5>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>发票编号</th>
							<th>发票金额</th>
							<th>开票日期</th>
							<th>批准人</th>
							<th>审核人</th>
							<th>制单</th>
							<th>发票图片</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">{{invoice?.id}}</th>
							<td>{{invoice?.invoice_number}}</td>
							<td>{{invoice?.invoice_amount | currency:'CNY':'symbol-narrow'}}</td>
							<td>{{invoice?.issued_date}}</td>
							<td>{{invoice?.approved_by}}</td>
							<td>{{invoice?.audited_by}}</td>
							<td>{{invoice?.issued_by}}</td>
							<td><img src="{{baseUrl}}{{invoice?.image_url}}" width="50" (click)="showImage()"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<img src="{{baseUrl}}{{invoice?.image_url}}" class="big-image" [style.z-index]="z_index" (click)="showImage()">
<style>
	h5 {
		margin-top: 3rem;
		color: blue;
	}

	.detail {
		margin-bottom: 3rem;
	}

	.big-image {
		position: absolute;
		z-index: -1;
		left: 20%;
	}
</style>
