<div class="col-md-12">
	<h3 algin="center">关于本软件系统 V 1.3.0</h3>
	<p>本软件是配合稳卓商场APP开发的后台管理程序, 用于对APP中的产品、订单、发票、经销商等进行管理。 本系统由昆山稳卓汽车配件有限公司委托<span>北京易通锐进信息技术有限公司</span>进行开发。本系统的所有部分归昆山稳卓汽车配件有限公司所有,属于昆山稳卓汽车配件有限公司的知识产权。未经许可，不得对本系统的任何部分/全部代码进行复制、传播及使用。&copy;2018昆山稳卓汽车配件有限公司
	</p>
</div>

<div id="image">
	<div class="col-md-4" align="center">
		<img src="{{assetsBaseUrl}}assets/img/app-01.jpg" width="{{pictureWidth}}">
	</div>
	<div class="col-md-4" align="center">
		<img src="{{assetsBaseUrl}}assets/img/app-02.jpg" width="{{pictureWidth}}">
	</div>
	<div class="col-md-4" align="center">
		<img src="{{assetsBaseUrl}}assets/img/app-03.jpg" width="{{pictureWidth}}">
	</div>
</div>

<style>
	p {
		font-size: 2rem;
		text-indent: 4rem;
		margin-bottom: 6rem;
	}

	h3 {
		margin: 3rem;
	}

	span {
		font-weight: bold;
	}

</style>