<div class="container-fluid">
	<h3>产品分类</h3>

	<button id="btn-0" type="button" class="btn btn-primary" (click)="add()">新增产品分类</button>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>分类名称</th>
				<th>分类描述</th>
				<th>排序序号</th>
				<th>编辑</th>
				<th>删除</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let productCategory of productCategories; let i = index;" class="active" [class.active]="rowSelected && (selectedItems.indexOf(i)) >= 0">
				<td><input type="checkbox"  (change)="selectionChange($event, i)" #checkbox *ngIf="productCategory.name != '全部产品'"></td>
				<td>{{productCategory.name}}</td>
				<td>{{productCategory.description}}</td>
				<td>{{productCategory.sort_order}}</td>
				<td><i class="fa fa-edit" *ngIf="productCategory.name != '全部产品'" data-content="edit" (click)="edit(i)"></i></td>
				<td><i class="fa fa-trash" *ngIf="productCategory.name != '全部产品'" data-content="delete" (click)="delete(i)" data-toggle="modal" data-target="#deleteConfirm"></i></td>
			</tr>
		</tbody>
	</table>

	<div align="right">
		<button id="btn-1" type="button" class="btn btn-primary" (click)="swap()" [disabled]="swapBtnDisabled">交换排序序号</button>
		<button type="button" class="btn btn-success" (click)="update()" [disabled]="updateBtnDisabled">保存更新</button>
	</div>


</div>

	<!--Modal-->
	<div class="modal fade" id="deleteConfirm">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">确认删除</h4>					
				</div>

				<div class="modal-body">
					请确认是否真的要删除该产品分类？
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" (click)="deleteConfirmed()" data-dismiss="modal">确定</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">取消</button>
				</div>
			</div>
		</div>
	</div>

<style>

	.btn-bottom {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		margin-left: 2rem!important;
	}

	.active {
		background-color: black;
		color: red;
	}

	[data-content="edit"]:hover {
		color: #33ff56;
		cursor: pointer;

	}

	[data-content="delete"]:hover {
		color: #ff4832;
		cursor: pointer;
	}

	#btn-0 {
		margin-top: 2rem!important;
		margin-bottom: 2rem!important;
	}
	#btn-1 {
		margin-right: 2rem!important;
	}
</style>