<div class="form-row">
	<div class="col-md-12">
		<h3>重置缺省密码</h3>
	</div>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
<div class="form-row">
			<div class="form-group col-md-12">
				<label>密码</label>
				<input type="password" class="form-control" formControlName="password" required>
				<div *ngIf="form.controls.password.touched && form.controls.password.errors" class="alert alert-danger">
					<div *ngIf="form.controls.password.errors.required">
						必须输入用户密码
					</div>
					<div *ngIf="form.controls.password.errors.minlength && form.controls.password.errors.maxlength">
						密码长度必须为6-12位
					</div>
					<div *ngIf="form.controls.password.errors.pattern">
						密码长度必须为字母数字组合，包含大小写
					</div>
				</div>
			</div>

			<div class="form-group col-md-12">
				<label>再次确认密码</label>
				<input type="password" class="form-control" formControlName="confirm_password" required>
				<div *ngIf="form.controls.confirm_password.touched && form.controls.confirm_password.errors" class="alert alert-danger">
					<div *ngIf="form.controls.confirm_password.errors.required">
						必须输入用户密码
					</div>
					<div *ngIf="form.controls.confirm_password.errors.minlength && form.controls.password.errors.maxlength">
						密码长度必须为6-12位
					</div>
					<div *ngIf="form.controls.confirm_password.errors.pattern">
						密码长度必须为字母数字组合，包含大小写
					</div>

				</div>
				<div *ngIf="form.controls.confirm_password.touched && !passwordMatches" class="alert alert-danger">
						前后两次密码输入不一致
				</div>
			</div>

			<div class="col-md-12">
				<div id="btn-0" align="center">
					<button type="submit" class="btn btn-success btn-rect" data-toggle="modal" data-target="#saved" [disabled]="!form.valid || !passwordMatches">保存数据</button>
				</div>
			</div>
		</div>
	</form>

<style>
	.ng-valid[required], .ng-valid.required {
		border-left: 5px solid #42A948;
	}

	.ng-invalid:not(form) {
		border-left: 5px solid #a94442;
	}

	h3 {
		margin-top: 4rem;
		margin-bottom: 3rem;
	}

	#btn-0 {
		margin-top: 3rem;
		margin-right: 2rem;
		margin-bottom: 3rem;
	}
</style>