<div class="container">
	<h3 class="title">新增经销商</h3>

	<form [formGroup]="form">
		<div class="form-group">
			<label for="name">经销商名称</label>
			<input type="text" id="name" class="form-control" formControlName="name" required>
			<div *ngIf="form.controls.name.touched && form.controls.name.errors" class="alert alert-danger">
				<div *ngIf="form.controls.name.errors.required">
					必须填写经销商名称！
				</div>
			</div>
		</div>	
		<div class="form-group">
			<label for="description">经销商描述</label>
			<textarea id="description" class="form-control" rows="3" formControlName="description" required></textarea>
			<div *ngIf="form.controls.description.touched && form.controls.description.errors" class="alert alert-danger">
				<div *ngIf="form.controls.description.errors.required">
					必须填写经销商描述！
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-3">
				<button class="btn btn-outline-primary" [disabled]="!form.valid" (click)="submitData()">保存经销商信息</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-outline-success" [disabled]="addAddressDisabled" (click)="addAddress()">增加经销商地址</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-outline-success" [disabled]="addContactDisabled" (click)="addContact()">增加经销联系人</button>
			</div>				
		</div>
		


		<router-outlet></router-outlet>

	</form>
	
</div>

<style>
	.ng-valid[required], .ng-valid.required {
		border-left: 5px solid #42A948;
	}

	.ng-invalid:not(form) {
		border-left: 5px solid #a94442;
	}

	.form-row {
		align-items: center;
	}

</style>