
<div >
	<ol class="breadcrumb" *ngIf="formFunction == 'edit'">
		<li class="breadcrumb-item"><a routerLink="/product/product">产品查询</a></li>
		<li class="breadcrumb-item active" aria-current="page"><a>{{caption}}</a></li>
	</ol>

	<h3 class="title">{{caption}}</h3>

	<form [formGroup]="form">
		<div class="form-row">
			<div class="col-md-12">
				<div class="box success">
		            <header>
		                <div class="icons"><i class="fa fa-building-o"></i></div>
		                <div align="center">
		                	<h4>产品基本信息</h4>
		                </div>
					</header>
		        </div>
		    </div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6" >
				<label for="productCategories">产品分类</label>
				<select id="productCategories" class="form-control" formControlName="category_id" (change)="categorySelected($event)" #c>
					<option value="{{productCategory?.id}}" *ngFor="let productCategory of productCategories" >{{productCategory?.name}}</option>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="productSubCategories">产品分类子类</label>
				<select id="productSubCategories" class="form-control" formControlName="sub_category_id" (change)="subCategorySelected($event)" required minlength="1" #s>
					<option value="{{productSubCategory?.id}}" *ngFor="let productSubCategory of productSubCategories">{{productSubCategory?.name}}</option>
				</select>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="productName">产品名称</label>
				<input type="text" id="productName" class="form-control" formControlName="name" required>
			</div>
			<div class="form-group col-md-6">
				<label for="model">产品型号</label>
				<input type="text" id="model" class="form-control" formControlName="model" required>
				<div *ngIf="form.controls.model.touched && form.controls.model.errors" class="alert alert-danger">
					<div *ngIf="form.controls.model.errors.required">
						必须填写产品型号！
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12 description">
				<label for="description">产品描述</label>
				<textarea id="description" rows="3" class="form-control" formControlName="description" required></textarea>
				<div *ngIf="form.controls.description.touched && form.controls.description.errors" class="alert alert-danger">
					<div *ngIf="form.controls.description.errors.required">
						必须填写产品描述!
					</div>
					<div *ngIf="form.controls.description.errors.maxlength">
						产品描述的字数不能超过300个汉字，或者600个英文字母。
					</div>
				</div>
			</div>
		</div>

		<div class="form-row">
			
			<div class="form-group">
				<div class="col-md-3">
					<label for="weight">产品重量</label>
					<input type="text" id="weight" name="weight" class="form-control" formControlName="weight" required>
					<div *ngIf="form.controls.weight.touched && form.controls.weight.errors" class="alert alert-danger">
						<div *ngIf="form.controls.weight.errors.required">
							必须输入重量
						</div>
						<div *ngIf="form.controls.weight.errors.pattern">
							重量只能是数字，可包含小数点
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
					<label for="weight_unit">重量单位</label>
					<select id="weight_unit" class="form-control" formControlName="weight_unit" required>
						<option value="kg" selected>公斤</option>
						<option value="吨">吨</option>
					</select>
				</div>
			</div>
		
			<div class="form-group">
				<div class="col-md-3">
					<label for="price">价格(元)</label>
					<input type="text" id="price" name="price" class="form-control" formControlName="price" required>		
					<div *ngIf="form.controls.price.touched && form.controls.price.errors" class="alert alert-danger">
						<div *ngIf="form.controls.price.errors.required">
							必须输入价格
						</div>
						<div *ngIf="form.controls.price.errors.pattern">
							价格只能是包含两位小数的数字，如：3.14
						</div>
					</div>
				</div>

				<div class="form-group col-md-3">
					<label for="inventory">库存</label>				
					<input type="number" id="inventory" name="inventory" class="form-control" formControlName="inventory" required>	
					<div *ngIf="form.controls.inventory.touched && form.controls.inventory.errors" class="alert alert-danger">
						<div *ngIf="form.controls.inventory.errors.required">
							必须输入库存
						</div>
						<div *ngIf="form.controls.inventory.errors.pattern">
							库存只能是整数，如：1500
						</div>
					</div>			
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="brand">品牌</label>
				<select id="brand" class="form-control" formControlName="brand" required>
					<option value="稳卓" selected>稳卓</option>
					<option value="Hofmann">Hofmann</option>
				</select>
			</div>
			
			<div class="form-group">
				<div class="col-md-3">
					<label for="package">包装</label>
					<select id="package" class="form-control" formControlName="package" required>
						<option value="盒装" selected>盒装</option>
						<option value="盘装">盘装</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-3">
					<label for="coating">涂层</label>
					<select id="coating" class="form-control" formControlName="coating" required>
						<option value="镀锌" selected>镀锌</option>
						<option value="彩色">彩色</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-3">
					<label class="quality">品质</label>
					<select id="quality" class="form-control" formControlName="quality" required>
						<option value="售后" selected>售后</option>
						<option value="OEM原厂">OEM原厂</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-12">
			</div>
		</div>

		<div class="form-row">			
			<div class="form-group">
				<div class="col-md-3">
					<label for="sort_order">排序序号</label>
					<input type="text" id="sort_order" class="form-control" formControlName="sort_order" required>
				</div>
			</div>
			<div class="form-group col-md-3 off-shelf">
				<label for="off_shelf">是否下架产品？</label>
				<input type="checkbox" id="off_shelf" (change)="checkboxSelected($event)" [checked]="off_shelf">
				
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-12">
				<div>产品缩略图</div>
				<img src="{{baseUrl}}{{product?.thumbnail_url}}" width="100">
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-12">
				<div>产品详细页顶部图片</div>
				<div>
					<span *ngFor="let img of topImages">
						<img src="{{baseUrl}}{{img?.image_url}}" width="100">
					</span>
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-12">
				<div>产品详细页底部图片</div>
				<div>
					<span *ngFor="let img of bottomImages">
						<img src="{{baseUrl}}{{img?.image_url}}" width="100">
					</span>
				</div>
			</div>
		</div>

		<div class="form-row seperator">
			<div class="col-lg-12">
				<div class="box success">
	           		<header>
	                	<div class="icons"><i class="fa fa-wrench"></i></div>
	                	<div align="center">
	                		<h4>添加/变更产品相关图片</h4>
	                	</div>
					</header>
				</div>
        	</div>
    	</div>
        
	
		<div class="form-row">
			<div class="form-group col-md-8">
				<label for="thunmbnail">产品缩略图</label>
				<input type="file" name="thumbnail" id="thunmbnail" class="form-control" required (change)="previewImages($event, 'thumbnail')" #fileInput>				
			</div>
			<div class="col-md-4">
				<div #previewThumbnail><span></span></div>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="topImages">产品详细页顶部图片(多选)</label>
				<input type="file" name="topImages" id="topImages" multiple class="form-control" required (change)="previewImages($event, 'top')" #topImageInput>
			</div>
		</div>
		<div class="form-row col-md-12">
			<div #previewTopImages></div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="bottomImages">产品详细页底部图片(多选)</label>
				<input type="file" name="bottomImages" id="bottomImages" multiple class="form-control" required (change)="previewImages($event, 'bottom')">
			</div>
		</div>
		<div class="form-row col-md-12">
			<div #previewBottomImages></div>
		</div>

		<div class="form-row col-md-12" align="center">
			<button id="btn-0" class="btn btn-success btn-rect" (click)="submitData()" data-toggle="modal" data-target="#remind" [disabled]="!form.valid">保存以上产品数据</button>
		</div>
	
	<!--Modal-->
	<div class="modal fade" id="remind">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">提示</h4>					
				</div>

				<div class="modal-body">
					数据已保存，请继续！
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>	

	</form>
</div>	

<style>
	.ng-valid[required], .ng-valid.required {
		border-left: 5px solid #42A948;
	}

	.ng-invalid:not(form) {
		border-left: 5px solid #a94442;
	}

	img {
		border: 1px green solid;
		margin: 1rem;
	}

	.image-section {
		margin-top: 2rem;
	}

	.title {
		margin-bottom: 2rem;
	}

	.seperator {
		margin-top: 3rem;
		margin-bottom: 2rem;
		background-color: #efefef;

	}

	.button {
		margin-top: 2rem;
	}

	.description {
		margin-bottom: 2.5rem;
	}

	#btn-0 {
		margin-top: 4rem;
	}

	.off-shelf {
		margin-top: 3rem;
	}
</style>