<div>
	<h3>经销商库存管理</h3>
	<div class="form-row">
		<div class="col-md-12 search">
	        <div class="input-group">
	            <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="经销商名称查询（*：查询全部）...">
	            <span class="input-group-btn">
	                <button class="btn btn-primary btn-sm text-muted" type="button" (click)="query()">
	                    <i class="fa fa-search"></i>
	                </button>
	            </span>
            </div>
        </div>
    </div>

<!-- query results-->		
		<div class="form-row">
			<div class="col-md-12">
				<div class="box success">
		            <header>
		                <div class="icons"><i class="fa fa-building-o"></i></div>
		                <div align="left">
		                	<h4>&nbsp;选取的经销商: <span style="font-weight: bold;color: yellow;">{{distributorName}}</span></h4>
		                </div>
					</header>
		        </div>
		    </div>
		</div>

<!-- TABLE to query distributor -->
	<div class="form-row" *ngIf="tableDisplay">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>经销商名称</th>
						<th>描述</th>
						<th>选取</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let distributor of distributors; let i = index;">
						<th scope="row">{{distributor?.id}}</th>
						<td>{{distributor?.name}}</td>
						<td>{{distributor?.description}}</td>
						<td><input type="radio" name="select" (change)="selected($event, i)"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<!-- TABLE to display inventory -->
	<div class="display-inventory">
		<div class="form-row">
			<div align="center"><h4>所选经销商的当前库存情况</h4></div>
			<div class="col-md-3">
				<select class="form-control"  (change)="filterCatSelected($event)">
					<option *ngFor="let category of filterProductCategories" value="{{category?.id}}">{{category?.name}}</option>
				</select>
			</div>

			<div class="col-md-3">
				<select class="form-control" (change)="filterSubCatSelect($event)">
					<option *ngFor="let subcategory of filterProductSubCategories" value="{{subcategory?.id}}">{{subcategory?.name}}</option>
				</select>
			</div>

			<div class="col-md-6">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="产品名称关键字过滤..." [(ngModel)]="filterKeyword">
						<span class="input-group-btn">
		                <button class="btn btn-primary btn-sm text-muted" type="button" [disabled]="filterBtnDisabled" (click)="queryInventory()">
		                    <i class="fa fa-search"></i>
		                </button>
		            	</span>
		        </div>
		    </div>

			<div><span>&nbsp;</span></div>

			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>产品图片</th>
							<th>产品子类</th>
							<th>名称</th>
							<th>型号</th>
							<th>包装单位</th>
							<th>当前库存</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let inventory of filterProductInventories">
							<td><img src="{{baseUrl}}{{inventory?.thumbnail_url}}" width="100"></td>
							<td>{{inventory?.product_sub_category_name}}</td>
							<td>{{inventory?.name}}</td>
							<td>{{inventory?.model}}</td>
							<td>{{inventory?.package_unit}}</td>
							<td>{{inventory?.pivot.inventory}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="products" *ngIf="productShow"> <!--"-->
		<div class="form-row">
			<div align="center"><h4>新增/编辑产品库存</h4></div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="category">产品分类</label>
					<select id="category" class="form-control" (change)="catSelected($event)">
						<option *ngFor="let category of productCategories;" value="{{category?.id}}">{{category?.name}}</option>
					</select>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="subCategory">产品分类子类</label>
					<select id="subCategory" class="form-control" (change)="subCatSelected($event)">
						<option *ngFor="let subcat of productSubCategories;" value="{{subcat?.id}}">{{subcat?.name}}</option>
					</select>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label for="kwq">产品型号查询（输入*查询全部）</label>
					<div class="input-group">
						<input type="text" placeholder="产品名称型号关键字查询..." [(ngModel)]="keywordProduct" class="form-control">
						<span class="input-group-btn">
			                <button class="btn btn-primary btn-sm text-muted" type="button" (click)="queryProduct()">
			                    <i class="fa fa-search"></i>
			                </button>
	            		</span>
					</div>
				</div>
			</div>
		</div>

	<!-- TABLE for query product -->
		<div class="form-row" class="product-table">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>产品图片</th>
							<th>产品子类</th>
							<th>型号</th>
							<th>价格(元)</th>
							<th>重量(Kg)</th>
							<th>包装单位</th>
							<th>VJ库存</th>
							<th>为当前经销商增(+)/减(-)库存量</th>
							<th>保存</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let product of products; let i=index;">
							<td><img src="{{baseUrl}}{{product?.thumbnail_url}}" width="100"></td>
							<td>{{product?.product_sub_category_name}}</td>
							<td>{{product?.model}}</td>
							<td>{{product?.price}}</td>
							<td>{{product?.weight}}</td>
							<td>{{product?.package_unit}}</td>
							<td>{{product?.inventory}}</td>
							<td>
								<input id="inventory" name="inventory" #inventory="ngModel" class="form-control" [(ngModel)]="inventories[i]" (change)="inventoryChange(i)" pattern="^[-]?[0-9]*" appMax>
								<div *ngIf="inventory.errors && (inventory.dirty || inventory.touched)" class="alert alert-danger">
									<div *ngIf="inventory.errors.pattern">
										只能输入正负数字！
									</div>
									
								</div>
								<div *ngIf="inventoryError && selectedItem == i" class="alert alert-danger">
										数据不能超过当前库存范围!
								</div>
							</td>
							<td><button class="btn btn-success"  (click)="increateInventory(i)" [disabled]="saveBtnDisabled[i]"><i class="material-icons" data-content="save">save</i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

<style>
	.form-row {
		margin-top: 4rem;
		margin-bottom: 1.2rem;
	}

	[data-content="save"]:hover {
		color: #33ff56;
		cursor: pointer;

	}
	.product-table .ng-dirty, .inventory .ng-touched {
		background-color: yellow;
	}

	i {
		font-size: 2rem;
	}
</style>