<div>
	<h3>产品查询</h3>

	<div class="form-row">
		<div class="form-group col-md-3">
			<label for="productCategory">产品分类</label>
			<select id="productCategory" class="form-control" (change)="categorySelected($event)" (click)="categorySelected($event)">
				<option value="{{productCategory?.id}}" *ngFor="let productCategory of productCategories">{{productCategory?.name}}</option>
			</select>
		</div>
		<div class="form-group col-md-3">
			<label for="productSubCategory">产品分类子类</label>
			<select id="productSubCategory"  class="form-control" (change)="subCategorySelected($event)" (click)="subCategorySelected($event)">
				<option value="{{productSubCategory?.id}}"*ngFor="let productSubCategory of productSubCategories">{{productSubCategory?.name}}</option>
			</select>
		</div>

		<div class="form-group col-md-6">
			<label for="keyword">产品名称关键字</label>
			<div class="input-group">
				<input type="text" class="form-control" id="keyword" [(ngModel)]="keyword" placeholder="产品名称关键字...">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary btn-sm text-muted" (click)="query()">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th></th>
					<th>产品名称</th>
					<th>产品型号</th>
					<th>产品描述</th>
					<th>包装单位</th>
					<th>重量</th>
					<th>重量单位</th>
					<th>价格</th>
					<th>品牌</th>
					<th>库存</th>
					<th>销量</th>
					<th>排序序号</th>
					<th>小图</th>
					<th>编辑</th>
					<th>删除</th>
					<th>已下架</th>
				</tr>
			</thead>
			<tbody>

				<tr *ngFor="let product of products; let i = index;" [class.active]="(selectedItemSet.has(i))" [class.off-shelf]="product.off_shelf">
					<td><input type="checkbox" (change)="checkboxChecked($event, i)" #checkbox></td>
					<td>{{product?.name}}</td>
					<td>{{product?.model}}</td>
					<td>{{product?.description}}</td>
					<td>{{product?.package_unit}}</td>
					<td>{{product?.weight}}</td>
					<td>{{product?.weight_unit}}</td>
					<td>{{product?.price}}</td>
					<td>{{product?.brand}}</td>
					<td>{{product?.inventory}}</td>
					<td>{{product?.sold_amount}}</td>
					<td>{{product?.sort_order}}</td>
					<td><img src="{{image_url}}{{product?.thumbnail_url}}" width="100"></td>
					<td><i class="fa fa-edit" data-content="edit" (click)="edit(i)"></i></td>
					<td><i class="fa fa-trash" data-content="delete" (click)="delete(i)" data-toggle="modal" data-target="#deleteConfirm"></i></td>
					<td>{{product?.off_shelf}}</td>
				</tr>

			</tbody>
		</table>
	
		<div align="right">
		<button  id="btn-1" type="button" class="btn btn-primary btn-rect" (click)="swap()" [disabled]="swapBtnDisabled">交换排序序号</button>
		<button type="button" class="btn btn-success btn-rect" (click)="update()" [disabled]="updateBtnDisabled">保存更新</button>
		</div>
	</div>

</div>

	<!--Modal-->
	<div class="modal fade" id="deleteConfirm">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">确认删除</h4>					
				</div>

				<div class="modal-body">
					请确认是否真的要删除该产品？
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" (click)="deleteConfirmed()" data-dismiss="modal">确定</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">取消</button>
				</div>
			</div>
		</div>
	</div>

<style>
	[data-content="edit"]:hover {
		color: #33ff56;
		cursor: pointer;

	}

	[data-content="delete"]:hover {
		color: #ff4832;
		cursor: pointer;
	}

	.hilightBackground {
		background-color: 
	} 

	.active {
		background-color: #c1c1c1;
		color: red;
	}

	#btn-1 {
		margin-right: 2rem!important;
	}

	i {
		font-size: 2rem;
	}

	.off-shelf {
		color: #8f8f8f;
		opacity: 0.4;
	}
</style>