<form>
	<div class="form-row">
		<div class="col-md-12">
			<h3>首页资料管理</h3>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-12">
			<label>首页上部图片文件上传</label>
			<input type="file" class="form-control" name="topImages" id="topImages" multiple (change)="preview($event, 'top')">
			<div #preview_top droppable="true"></div>
		</div>

		<div class="form-group col-md-6">
			<label>新人礼券图片文件上传</label>
			<input type="file" class="form-control" name="newcomerImage" (change)="preview($event, 'newcomer')">
			<div #preview_newcomer></div>
		</div>	

		<div class="form-group col-md-6">			
			<label>购物券中心图片文件上传</label>
			<input type="file" class="form-control" name="couponImage" (change)="preview($event, 'coupon')">
			<div #preview_coupon></div>
		</div>	

		<div class="form-group col-md-12">
			<h4 class="warning" *ngIf="saveBtnDisabled && videoClip == null">提示：修改或上传首页视频Poster图片文件时，必须同时上传对应的视频文件！</h4>
			<label>首页视频文件上传</label>
			<input type="file" class="form-control" name="video" (change)="preview($event, 'video')">
			<div #preview_video></div>
		</div>

		<div class="form-group col-md-12">
			<h4 class="warning" *ngIf="saveBtnDisabled && posterImage == null">提示：修改或上传首页视频时，必须同时上传对应的视频Poster图片文件！</h4>
			<label>首页视频Poster文件上传</label>
			<input type="file" class="form-control" name="posterImage" (change)="preview($event, 'poster')">
			<div #preview_poster></div>
		</div>

		<div class="form-group col-md-12">
			<label>首页底部图片文件上传</label>
			<input type="file" class="form-control" name="bottomImages" multiple (change)="preview($event, 'bottom')">
			<div #preview_bottom></div>
		</div>			
	</div>	

	<div class="form-row">
		<div #progress_bar></div>
		
	</div>

	<div class="form-row">
		<div class="col-md-12">
			<button type="button" class="btn btn-success btn-rect" name="save" (click)="save()" [disabled]="saveBtnDisabled">保存数据</button>	

			<button id="delete-video" type="button" class="btn btn-danger btn-rect" name="delete" data-toggle="modal" data-target="#deleteConfirm">删除首页视频
			</button>
		</div>
	</div>
</form>

	

	<!--Modal-->
	<div class="modal fade" id="save-data">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">提示</h4>					
				</div>

				<div class="modal-body">
					数据已保存，请继续！
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>	

	<!--Modal-->
	<div class="modal fade" id="deleteConfirm">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">确认删除</h4>					
				</div>

				<div class="modal-body">
					请确认是否真的要删除首页视频？
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" (click)="deleteConfirmed()" data-dismiss="modal">确定</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">取消</button>
				</div>
			</div>
		</div>
	</div>

<style>
	h3 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	img {
		margin: 1rem;
	}

	button {
		margin-top: 3rem;
		margin-right: 3rem;
	}

	.warning {
		color: red;
		font-weight: bold;
	}
</style>